
<%=form_tag updateretes_show_rates_path%>
<div class="">

<div class="todate_fromdatebg">
<div class="todate_fromdateheadingbg">
<table><tr><td>
 <%= link_to 'Back', getbookings_path ,:class=>"submit_button"%>
  </td>
  </tr>
  </table>
</div>
  <table>
    <tr>
  <td class="todate_fromdateheadingtext">
  Select Type
 </td>
 <td>
<%=select_tag "room_type", "<option value='DBL' >DBL</option><option value='KING'>KING</option>".html_safe%>
   </td>
 </tr>
 <tr>
   <td class="todate_fromdateheadingtext">
     Start Date
   </td>
  
  <td>
<%=text_field_tag "start_date"  %>
</td>
</tr>

 <tr>
   <td class="todate_fromdateheadingtext">
    End Date
   </td>
   <td>
<%=text_field_tag "end_date"  %>
</td>
</tr>

<tr><td>
    <div class="addroombutton">
    <%=submit_tag "Submit",:class=>"submit_button"%>
    </div>    
    </td></tr>
  </table>

</form>

</div>
  
<div class="todate_fromdatebg1" id="todate_fromdatebg1" style="display:none"> 
 <%=form_tag updateretes_update_rates_path ,:onsubmit=>"$('#todate_fromdatebg1').hide();"%>
 <table>
  <tr>
   <td class="todate_fromdateheadingtext">
     Begin Period
   </td>
  
  <td>
<%=text_field_tag "begin_period","",:readonly=>true  %>
</td>
</tr>

 <tr>
   <td class="todate_fromdateheadingtext">
       End Period
   </td>
   <td>
     <%=text_field_tag "end_period" ,"",:readonly=>true %>
     <%=hidden_field_tag "start_date" , params[:start_date] %>
     <%=hidden_field_tag "end_date" , params[:end_date] %>
     <%=hidden_field_tag "room_type" , params[:room_type] %>
     
     
     
   </td>

</tr>
<tr>
   <td class="todate_fromdateheadingtext">
       IOcc
   </td>
   <td>
     <%=text_field_tag "SINGLEOCCUPANCY"  %>
   </td>
</tr>
<tr>
   <td class="todate_fromdateheadingtext">
       IIOcc
   </td>
   <td>
     <%=text_field_tag "DOUBLEOCCUPANCY"  %>
   </td>
</tr>
 <tr>
   <td class="todate_fromdateheadingtext">
       IIIOcc
   </td>
   <td>
     <%=text_field_tag "TRIPLEOCCUPANCY"  %>
   </td>
</tr>
 <tr>
   <td class="todate_fromdateheadingtext">
        II+Child
   </td>
   <td>
     <%=text_field_tag "QUADRUPLEOCCUPANCY"  %>
   </td>
</tr>
<tr>
   <td class="todate_fromdateheadingtext">
       +Adult
   </td>
   <td>
     <%=text_field_tag "ROLLAWAYADULT"  %>
   </td>
</tr>
<tr>
   <td class="todate_fromdateheadingtext">
       +Child
   </td>
   <td>
     <%=text_field_tag "ROLLAWAYCHILD"  %>
   </td>
</tr>
<tr>
  <td class="todate_fromdateheadingtext"  >
    Room Checking
  </td>
  </tr>
 </table>
<table>
   
  <table width="200" align="center">
        <tr>
              <td class="todate_fromdateheadingtext">
       Su
   </td>
   <td>
      
     <%=check_box_tag  "CTASU", 0%>
   </td>
          <td class="todate_fromdateheadingtext">
            Mo
          </td>
          <td class="todate_fromdateheadingtext">
            <%=check_box_tag  "CTAMO", 0%>
          </td>
          <td class="todate_fromdateheadingtext">
       Tu
   </td>
   <td>
      
     <%=check_box_tag  "CTATU", 0%>
   </td>
    <td class="todate_fromdateheadingtext">
       We
   </td>
   <td>
      
     <%=check_box_tag  "CTAWE", 0%>
   </td>
    <td class="todate_fromdateheadingtext">
       Th
   </td>
   <td>
     <%=check_box_tag  "CTATH", 0%>
      
   </td>
    <td class="todate_fromdateheadingtext">
       Fr
   </td>
   <td>
      
     <%=check_box_tag  "CTAFR", 0%>
     
   </td>
    <td class="todate_fromdateheadingtext">
       St
   </td>
   <td>
      
     <%=check_box_tag  "CTASA", 0%>
   </td>

        </tr>
          
 
<tr><td>
    <div class="addroombutton">
    <%=submit_tag "Submit",:class=>"submit_button"%>
    </div>    
    </td></tr>
  </table>
  </form>

</div>
 
  
<div class="todate_fromdatebg1"> 

<table border="1">
  <tr>
        <th class="todate_fromdateheadingtext">
      Edit
      </th>
    <th class="todate_fromdateheadingtext">
      Room Type
      </th>
    <th class="todate_fromdateheadingtext">
      Start Date
      </th>
    <th class="todate_fromdateheadingtext">
      End Date
      </th>
    
      <th class="todate_fromdateheadingtext">
       I Occ
      
      </th>
      <th class="todate_fromdateheadingtext">
      II Occ
      </th>
      <th class="todate_fromdateheadingtext">
       III Occ
      </th>
       <th class="todate_fromdateheadingtext">
      II+Child
      </th>
        <th class="todate_fromdateheadingtext">
       +Adult
      </th>
      <th class="todate_fromdateheadingtext">
       +Child
      </th>
      <th  class="todate_fromdateheadingtext">
        Su
      </th>
      <th  class="todate_fromdateheadingtext">
        Mo
      </th>
      <th  class="todate_fromdateheadingtext">
        Tu
      </th>
      <th  class="todate_fromdateheadingtext">
        We
      </th>
      
      <th  class="todate_fromdateheadingtext">
        Th
      </th>
      <th  class="todate_fromdateheadingtext">
        Fr
      </th>
      <th  class="todate_fromdateheadingtext">
        St
      </th>
      
    </tr>
   
    <%countperiod = 1%>
    <%if ((@get_rates !=nil) &&   (!@get_rates.blank?) && (!@get_rates["diffgram"].blank? ) )%>
    <%@get_rates["diffgram"][0]["NewDataSet"][0]["Rate"].each do |get_rate|%>
    <%countperiod = countperiod + 1 %>
    <input type="hidden" value="<%=get_rate['BEGINPERIOD'][0].to_s.split('T')[0]%>" id="<%=countperiod%>BEGINPERIOD" />
    <input type="hidden" value="<%=get_rate['ENDPERIOD'][0].to_s.split('T')[0]%>" id="<%=countperiod%>ENDPERIOD" />
    <input type="hidden" value="<%=get_rate['SINGLEOCCUPANCY'][0]%>" id="<%=countperiod%>SINGLEOCCUPANCY" />
    <input type="hidden" value="<%=get_rate['DOUBLEOCCUPANCY'][0]%>" id="<%=countperiod%>DOUBLEOCCUPANCY" />
    <input type="hidden" value="<%=get_rate['TRIPLEOCCUPANCY'][0]%>" id="<%=countperiod%>TRIPLEOCCUPANCY" />
    <input type="hidden" value="<%=get_rate['QUADRUPLEOCCUPANCY'][0]%>" id="<%=countperiod%>QUADRUPLEOCCUPANCY" />
    <input type="hidden" value="<%=get_rate['ROLLAWAYADULT'][0]%>" id="<%=countperiod%>ROLLAWAYADULT" />
    <input type="hidden" value="<%=get_rate['ROLLAWAYCHILD'][0]%>" id="<%=countperiod%>ROLLAWAYCHILD" />
    <input type="hidden" value="<%=get_rate['CTAMO'][0]%>" id="<%=countperiod%>CTAMO" />
    <input type="hidden" value="<%=get_rate['CTATU'][0]%>" id="<%=countperiod%>CTATU" />
    <input type="hidden" value="<%=get_rate['CTAWE'][0]%>" id="<%=countperiod%>CTAWE" />
    <input type="hidden" value="<%=get_rate['CTATH'][0]%>" id="<%=countperiod%>CTATH" />
    <input type="hidden" value="<%=get_rate['CTAFR'][0]%>" id="<%=countperiod%>CTAFR" />
    <input type="hidden" value="<%=get_rate['CTASA'][0]%>" id="<%=countperiod%>CTASA" />
    <input type="hidden" value="<%=get_rate['CTASU'][0]%>" id="<%=countperiod%>CTASU" />
   
    
    <script>
   function update_values(count)
   {
     $('#begin_period').val($('#'+count+'BEGINPERIOD').val());
     $('#end_period').val($('#'+count+'ENDPERIOD').val());
     $('#SINGLEOCCUPANCY').val($('#'+count+'SINGLEOCCUPANCY').val());
     $('#DOUBLEOCCUPANCY').val($('#'+count+'DOUBLEOCCUPANCY').val());
     $('#TRIPLEOCCUPANCY').val($('#'+count+'TRIPLEOCCUPANCY').val());
     $('#QUADRUPLEOCCUPANCY').val($('#'+count+'QUADRUPLEOCCUPANCY').val());
      $('#ROLLAWAYADULT').val($('#'+count+'ROLLAWAYADULT').val());
     $('#ROLLAWAYCHILD').val($('#'+count+'ROLLAWAYCHILD').val());
      if ($('#'+count+'CTAMO').val() == 1)
       {
         $('#CTAMO').prop('checked',true);
       }
     if ($('#'+count+'CTATU').val() == 1)
       { 
         $("#CTATU").prop('checked',true);
       }
     if ($('#'+count+'CTAWE').val() == 1)
       {
         $("#CTAWE").prop('checked',true);
       }
     if ($('#'+count+'CTATH').val() == 1)
       {
         $("#CTATH").prop('checked',true);
       }
     if ($('#'+count+'CTAFR').val() == 1)
       {
         $("#CTAFR").prop('checked',true);
       }
     if ($('#'+count+'CTASA').val() == 1)
       {
         $("#CTASA").prop('checked',true);
       }
     if ($('#'+count+'CTASU').val() == 1)
       {
          
         $("#CTASU").prop('checked',true);
       } 
      $("#todate_fromdatebg1").show();
     
     return false;
     
   }
   </script>
           
    <tr>
      <td>
          <%=link_to "Edit" ,"#",:onclick=>"return update_values(#{countperiod})"%>
        </td>
        <td>
         <%=params[:room_type]%>
        </td>
        <td>
         <%=get_rate['BEGINPERIOD'][0].to_s.split('T')[0]%>
        </td>
        <td>
           <%=get_rate['ENDPERIOD'][0].to_s.split('T')[0]%>
        </td>
        <td>
          <%=get_rate['SINGLEOCCUPANCY'][0]%>
         </td>
         <td>
          <%=get_rate['DOUBLEOCCUPANCY'][0]%>
         </td>
          <td>
          <%=get_rate['TRIPLEOCCUPANCY'][0]%>
         </td>
         <td>
          <%=get_rate['QUADRUPLEOCCUPANCY'][0]%>
         </td>
          <td>
          <%=get_rate['ROLLAWAYADULT'][0]%>
         </td>
      <td>
          <%=get_rate['ROLLAWAYCHILD'][0]%>
         </td>
         <td><%=get_rate['CTASU'][0]%>
          </td>
          <td><%=get_rate['CTAMO'][0]%>
          </td>
          <td><%=get_rate['CTATU'][0]%>
          </td>
          <td><%=get_rate['CTAWE'][0]%>
          </td>
          <td><%=get_rate['CTATH'][0]%>
          </td>
       <td><%=get_rate['CTAFR'][0]%>
          </td>
          <td><%=get_rate['CTASA'][0]%>
          </td>
          
      </tr>
      
    <%end%>
    <%end%>
  </table>
 
  
  </div>