
<%=form_tag updateretes_show_rates_path%>
<div class="">

<div class="todate_fromdatebg">
<div class="todate_fromdateheadingbg">
<table><tr><td>
 <%= link_to 'Back', getbookings_path ,:class=>"submit_button"%>
  </td>
  </tr>
  </table>
</div>
  <table>
    <tr>
  <td class="todate_fromdateheadingtext">
  Select Type
 </td>
 <td>
<%=select_tag "room_type", "<option value='DBL' >DBL</option><option value='KING'>KING</option>".html_safe%>
   </td>
 </tr>
 <tr>
   <td class="todate_fromdateheadingtext">
     Start Date
   </td>
  
  <td>
<%=text_field_tag "start_date"  %>
</td>
</tr>

 <tr>
   <td class="todate_fromdateheadingtext">
    End Date
   </td>
   <td>
<%=text_field_tag "end_date"  %>
</td>
</tr>

<tr><td>
    <div class="addroombutton">
    <%=submit_tag "Submit",:class=>"submit_button"%>
    </div>    
    </td></tr>
  </table>

</form>

</div>

 
 
  
<div class="todate_fromdatebg1"> 

<table border="1">
  <tr>
        <th class="todate_fromdateheadingtext">
      Edit
      </th>
    <th class="todate_fromdateheadingtext">
      Room Type
      </th>
    <th class="todate_fromdateheadingtext">
      Start Date
      </th>
    <th class="todate_fromdateheadingtext">
      End Date
      </th>
    
      <th class="todate_fromdateheadingtext">
      SINGLEOCCUPANCY
      
      </th>
      <th class="todate_fromdateheadingtext">
      DOUBLEOCCUPANCY
      </th>
      <th class="todate_fromdateheadingtext">
      TRIPLEOCCUPANCY
      </th>
       <th class="todate_fromdateheadingtext">
      QUADRUPLEOCCUPANCY
      </th>
    </tr>
   
    <%countperiod = 1%>
    <%if ((@get_rates !=nil) &&   (!@get_rates.blank?) && (!@get_rates["diffgram"].blank? ) )%>
    <%@get_rates["diffgram"][0]["NewDataSet"][0]["Rate"].each do |get_rate|%>
    <%countperiod = countperiod + 1 %>
    <input type="hidden" value="<%=get_rate['BEGINPERIOD'][0].to_s.split('T')[0]%>" id="<%=countperiod%>BEGINPERIOD" />
    <input type="hidden" value="<%=get_rate['ENDPERIOD'][0].to_s.split('T')[0]%>" id="<%=countperiod%>ENDPERIOD" />
    <input type="hidden" value="<%=get_rate['SINGLEOCCUPANCY'][0].to_s.split('T')[0]%>" id="<%=countperiod%>SINGLEOCCUPANCY" />
    <input type="hidden" value="<%=get_rate['DOUBLEOCCUPANCY'][0].to_s.split('T')[0]%>" id="<%=countperiod%>DOUBLEOCCUPANCY" />
    <input type="hidden" value="<%=get_rate['TRIPLEOCCUPANCY'][0].to_s.split('T')[0]%>" id="<%=countperiod%>TRIPLEOCCUPANCY" />
    <input type="hidden" value="<%=get_rate['QUADRUPLEOCCUPANCY'][0].to_s.split('T')[0]%>" id="<%=countperiod%>QUADRUPLEOCCUPANCY" />
     <script>
   function update_values(count)
   {
     $('#begin_period').val($('#'+count+'BEGINPERIOD').val());
     $('#end_period').val($('#'+count+'ENDPERIOD').val());
     $('#SINGLEOCCUPANCY').val($('#'+count+'SINGLEOCCUPANCY').val());
     $('#DOUBLEOCCUPANCY').val($('#'+count+'DOUBLEOCCUPANCY').val());
     $('#TRIPLEOCCUPANCY').val($('#'+count+'TRIPLEOCCUPANCY').val());
     $('#QUADRUPLEOCCUPANCY').val($('#'+count+'QUADRUPLEOCCUPANCY').val());
     
     
     return false;
     
   }
   </script>
           
    <tr>
      <td>
          <%=link_to "Edit" ,"#",:onclick=>"return update_values(#{countperiod})"%>
        </td>
        <td>
         <%=params[:room_type]%>
        </td>
        <td>
         <%=get_rate['BEGINPERIOD'][0].to_s.split('T')[0]%>
        </td>
        <td>
           <%=get_rate['ENDPERIOD'][0].to_s.split('T')[0]%>
        </td>
        <td>
          <%=get_rate['SINGLEOCCUPANCY'][0]%>
         </td>
         <td>
          <%=get_rate['DOUBLEOCCUPANCY'][0]%>
         </td>
          <td>
          <%=get_rate['TRIPLEOCCUPANCY'][0]%>
         </td>
         <td>
          <%=get_rate['QUADRUPLEOCCUPANCY'][0]%>
         </td>
         
      </tr>
    <%end%>
    <%end%>
  </table>
 
  <%=form_tag updateretes_update_rates_path%>
 <table>
  <tr>
   <td class="todate_fromdateheadingtext">
     Begin Period
   </td>
  
  <td>
<%=text_field_tag "begin_period","",:readonly=>true  %>
</td>
</tr>

 <tr>
   <td class="todate_fromdateheadingtext">
       End Period
   </td>
   <td>
     <%=text_field_tag "end_period" ,"",:readonly=>true %>
     <%=hidden_field_tag "start_date" , params[:start_date] %>
     <%=hidden_field_tag "end_date" , params[:end_date] %>
     <%=hidden_field_tag "room_type" , params[:room_type] %>
     
     
     
   </td>

</tr>
<tr>
   <td class="todate_fromdateheadingtext">
       SINGLEOCCUPANCY
   </td>
   <td>
     <%=text_field_tag "SINGLEOCCUPANCY"  %>
   </td>
</tr>
<tr>
   <td class="todate_fromdateheadingtext">
       DOUBLEOCCUPANCY
   </td>
   <td>
     <%=text_field_tag "DOUBLEOCCUPANCY"  %>
   </td>
</tr>
 <tr>
   <td class="todate_fromdateheadingtext">
       TRIPLEOCCUPANCY
   </td>
   <td>
     <%=text_field_tag "TRIPLEOCCUPANCY"  %>
   </td>
</tr>
 <tr>
   <td class="todate_fromdateheadingtext">
       QUADRUPLEOCCUPANCY
   </td>
   <td>
     <%=text_field_tag "QUADRUPLEOCCUPANCY"  %>
   </td>
</tr>
<tr><td>
    <div class="addroombutton">
    <%=submit_tag "Submit",:class=>"submit_button"%>
    </div>    
    </td></tr>
  </table>
  </form>

</div>
  </div>