<%=form_tag "/reservations/show_availability_of_rooms",{:onSubmit => 'return check_date()'}%>
<div class="registerform_bg">
<div class="headingbg">

<div class="headingtext">Please enter the dates of your stay to check availability</div>
</div>

<table width="auto" height="121" border="0" align="center" class="tables" >
  <tr>
    <td width="121" height="40" class="listening_eventstext">Check in Date:</td>
    <td width="159"><%= text_field_tag "checkin",params[:checkin],:size =>"30" %></td>
  </tr>
  <tr>
    <td height="36" class="listening_eventstext">Check Out Date: </td>
    <td><%= text_field_tag "checkout",params[:checkout],:size =>"30" %></td>
    <%=hidden_field_tag "company_id",params[:company_id]%>
  </tr>
  <tr>
       <td>&nbsp;</td> 
      <td>  <%=submit_tag "Check Availability",:id=>"Checkavailabilitybutton"%></td>
   </tr>
</table>
 </div>

</form>

<%=form_tag "/authenticates/sign_in" ,{:onSubmit=>"return checkroomisselected()"}%>
                  <div class="roomsavailable_bg">
                  <div class="">


                     <%hidecount=1%>
                     <%if !@category.blank?%>
                      <% for build in @category.uniq!%> 
                     <%hidecount=hidecount + 1%>
                      <fieldset id="hidelabel<%=hidecount%>">
                      
                        
                            <p> <legend class="rooms_availabilitytext"> Which rooms you want to book in <%= build[0]%></i></b>
                            </legend></p>
                         
                         <%hidelabel = true%>
                             
                            <%@room.each_slice(2) do |room|%>
                                 <% if room[0][2] == build[1]%>
                                      <%if @book_room_array and  @book_room_array.include? room[0][0]%>
                                           <%#here it may happen that the room[1] is not included that is why whatever is in else%>
                                           <%#i need to put that in if also%>
                                            <%if room[1]%>
                                             <%if @book_room_array and  @book_room_array.include? room[1][0]%>
                                             <%else%>
                                                  <td width="208"><p><%= check_box_tag "room[#{room[1][1]}]","#{room[1][1]}"%><label><%= room[1][0]%></label></p></td>
                                             <%end%>
                                            <%end%>      
                                     <!-- <span style="color: red" >
                                         <%=check_box_tag "room[#{room[1]}]", "0", false, :disabled => true%><%= room[0]%>
                                       </span>-->
                                     <%else%> 
                                     <%hidelabel = false%>
                                    
                                     <table width="400" border="0" align="center">
                                       <tr>
                                         <%if room[0]%>    
                                         <td width="220"><p><%= check_box_tag "room[#{room[0][1]}]","#{room[0][1]}"%><label><%= room[0][0]%></label></p></td>
                                          <%end%>
                                         <%#here its because i am showing an room in two columns i need to do add %>
                                         <%#room conditions again%>
                                         <%#so i am putting here 2 conditions one in if and same condition for else%>
                                         <%if room[1]%>
                                         <%if @book_room_array and  @book_room_array.include? room[1][0]%>
                                         <%else%>
                                              <td width="208"><p><%= check_box_tag "room[#{room[1][1]}]","#{room[1][1]}"%><label><%= room[1][0]%></label></p></td>
                                         
                                          <%end%>
                                         <%end%>
                                         
                                       </tr>
                                     </table>                                     
                                    <%end%>
                              <% end %>
                           <% end %>
                           <%if hidelabel%>
                                     <script>
                                       $("#hidelabel<%=hidecount%>").hide();
                                        
                                       </script>
                                     <%end%>
                       
</fieldset>                
                      <% end %>
                    <%end%>
           <div>                
             <%= hidden_field_tag "campany_id",params['company_id']%>
             <%= hidden_field_tag "checkin",params['checkin'] %>
             <%= hidden_field_tag "checkout",params['checkout']  %>
             <%= submit_tag "Book Rooms",:id=>"book_rooms"%>                           
           </div>  
           </div>
                    </div>
</form>


 