<%=form_tag "/reservations/show_availability_of_rooms",{:onSubmit => 'return check_date()'}%>
<label>
  Check In
</label>
 <%= text_field_tag "checkin",params['checkin'],:size =>"30" %>
<br/>
<label>
  Check out
</label>
 <%= text_field_tag "checkout",params['checkout'],:size =>"30" %>
<br/>
<%=hidden_field_tag "company_id",params['company_id']%>
<%=submit_tag "Check Availability Of Rooms"%>
</form>

<%=form_tag "/authenticates/sign_in" ,{:onSubmit=>"return checkroomisselected()"}%>

                     <%hidecount=1%>
                     <%if !@category.blank?%>
                      <% for build in @category.uniq!%><br/>
                       <%hidecount=hidecount + 1%>
                       <span id="hidelabel<%=hidecount%>">
                         <label ><b><i>
                              Which rooms you want to book in <%= build[0]%></i></b><br/> 
                        </label>
                       </span>
                         <%hidelabel = true%>
                            <% for room in @room%>
                                <% if room[2] == build[1]%>
                                      <%if @book_room_array and  @book_room_array.include? room[0]%>
                                     <!-- <span style="color: red" >
                                         <%=check_box_tag "room[#{room[1]}]", "0", false, :disabled => true%><%= room[0]%>
                                       </span>-->
                                     <%else%> 
                                     <%hidelabel = false%>
                                     <%= check_box_tag "room[#{room[1]}]","#{room[1]}"%><%= room[0]%>
                                    <%end%>
                              <% end %>
                           <% end %>
                           <%if hidelabel%>
                                     <script>
                                       $("#hidelabel<%=hidecount%>").hide()
                                       </script>
                                     <%end%>
                      <% end %>
                    <%end%>
           <div>                
             <%=  hidden_field_tag "campany_id",params['company_id']%>
             <%= hidden_field_tag "checkin",params['checkin'] %>
             <%= hidden_field_tag "checkout",params['checkin']  %>
             <%=submit_tag "Book Rooms"%>                           
           </div>  
</form>