<div class="container">
  <div>
    <%=form_tag "/reservations/show_availability_of_rooms",{:onSubmit => 'return check_date()'}%>
    <div class="registerform_bg">
      <div class="headingbg">
        <div class="headingtext">Please enter the dates of your stay to check availability</div>
      </div>
       <table width="auto" height="121" border="0" align="center" class="tables" >
        <tr>
          <td width="121" height="40" class="listening_eventstext1">Check in Date:</td>
          <td width="159"><%= text_field_tag "checkin",params[:checkin],:size =>"30" %></td>
        </tr>
        <tr>
          <td height="36" class="listening_eventstext1">Check Out Date: </td>
          <td><%= text_field_tag "checkout",params[:checkout],:size =>"30" %></td>
          <%=hidden_field_tag "company_id",params[:company_id]%>
        </tr>
        <tr>
          <td>&nbsp;</td> 
          <td>  <%=submit_tag "Check Availability",:id=>"Checkavailabilitybutton"%></td>
        </tr>
      </table>
    </div>
    </form>
   <!--
   all this testing is of showing an view of rooms. 
   the loop is on category . the testing conditions are.
   1)in one category there will be 1 room
   2)in one category there will be 2 room
   3)in one category there will be 3 room
   4)in one category there will be 4 rooms
   5)                      above one delete one room means book one room
   6)from 4 cond gds all room
   7)from 3 cond book room
   8)from 2 cond gds alloc room
   9)from 1 cond book room
   -->
    <%=form_tag "/authenticates/sign_in" ,{:onSubmit=>"return checkroomisselected()"}%>
    <div class="roomsavailable_bg">
      <div class="">
        <%hidecount=1%>
         <%if !@category.blank?%>
          <% for build in @category.uniq!%> 
            <%hidecount=hidecount + 1%>
            <fieldset id="hidelabel<%=hidecount%>">
              <%size=0%>
              <p> <legend class="rooms_availabilitytext"> Which rooms you want to book in <%= build[0]%></i></b>
              </legend></p>
              <div style="width:480px;">      
                 <%hidelabel = true%>
     <!--
    so here just checking if i can reduce the logic that is so @room and @category is the complete array.
    here the first loop is on category and then checked weather the room is in that category or not. hidecount is a count for 
    hiding an category wise div. so  this is again required.so @room i am slicing in 2 columns.
     then in the room array .  so this condition is for checking weather a room is of
     same category.then checked if room[1] is available or not.then again checked if that is not booked. then checked if that is of 
     particular category.
    -->            
                <%@room.each_slice(2) do |room|%>
                  <% if room[0] && room[0][2] == build[1]%>
                      <%if @book_room_array and  @book_room_array.include? room[0][1]%>
                      <!--
                      this condition is for suppose an room 0 is booked then need to check room 1. and room1 is shown.
                      -->
                       <%if room[1]%>
                         <%if @book_room_array and  @book_room_array.include? room[1][1]%>
                         <%else%>
                           <% if room[1][2] == build[1]%>     
                             <%if size == 0%>
                                <%hidelabel = false%>
                              <div style="width:210px;float:left;margin:0px;"> 
                                <p>  
                                  <%= check_box_tag "room[#{room[1][1]}]","#{room[1][1]}"%><label><%= room[1][0]%></label>
                                </p>
                              </div>
                              <%size=1%>
                            <%elsif size == 1%>
                              <%hidelabel = false%>
                              <div style="width:300px;"> <p>
                                  <%= check_box_tag "room[#{room[1][1]}]","#{room[1][1]}"%><label><%= room[1][0]%></label>
                                </p>
                              </div>
                              <%size=0%>
                            <%end%>
                          <%end%>     
                         <%end%>
                      <%end%>      
                      <!-- <span style="color: red" >
                       <%=check_box_tag "room[#{room[1]}]", "0", false, :disabled => true%><%= room[0]%>
                        </span>-->
                    <%else%> 
                      <!--
                      else if room 0 is not booked then both rooms are shown according to conditions
                      -->
                        <%if room[0]%>    
                        <%if @book_room_array and  @book_room_array.include? room[0][1]%>
                        <%else%>
                            <%if size == 0%>
                              <%hidelabel = false%>
                            <div style="width:210px;float:left;margin:0px;"> <p>
                                <%= check_box_tag "room[#{room[0][1]}]","#{room[0][1]}"%><label><%= room[0][0]%></label> 
                              </p>
                            </div>
                            <%size=1%>
                          <%elsif size == 1%>
                               <%hidelabel = false%>
                            <div style="width:300px;"> <p>
                                <%= check_box_tag "room[#{room[0][1]}]","#{room[0][1]}"%><label><%= room[0][0]%></label> 
                              </p>
                            </div>
                            <%size=0%>
                          <%end%>
                         <%end%>
                      <%end%>
                       <%if room[1]%>
                         <%if @book_room_array and  @book_room_array.include? room[1][1]%>
                         <%else%>
                           <% if room[1][2] == build[1]%>
                             <%if size == 0%>
                                 <%hidelabel = false%>
                              <div style="width:210px;float:left;margin:0px;"> 
                                <p> <%= check_box_tag "room[#{room[1][1]}]","#{room[1][1]}"%><label><%= room[1][0]%></label>
                                </p>
                              </div>
                              <%size=1%>
                            <%elsif size == 1%>
                               <%hidelabel = false%>
                              <div style="width:300px;"> 
                                <p> <%= check_box_tag "room[#{room[1][1]}]","#{room[1][1]}"%><label><%= room[1][0]%></label></p>
                              </div>
                              <%size=0%>
                            <%end%>
                           <%end%>        
                        <%end%>
                      <%end%>
                      </tr>
                     <%end%>
                  <%else%>
                      <!--
                      this else is for suppose room 0 is not of same category then need to check category of room 1
                      -->
                    <% if room &&  room[1] && room[1][2] == build[1]%>
                      <%if @book_room_array and  @book_room_array.include? room[1][1]%>
                       <%else%>
                         <%if size == 0%>
                            <%hidelabel = false%>
                          <div style="width:210px;float:left;margin:0px;"> 
                            <p> <%= check_box_tag "room[#{room[1][1]}]","#{room[1][1]}"%><label><%= room[1][0]%></label> </p>
                          </div>
                          <%size=1%>
                        <%elsif size == 1%>
                            <%hidelabel = false%>
                          <div style="width:300px;"> 
                            <p><%= check_box_tag "room[#{room[1][1]}]","#{room[1][1]}"%><label><%= room[1][0]%></label> </p>
                          </div>
                          <%size=0%>
                        <%end%>
                       <%end%>
                     <%end%>  
                   <% end %>
                 <% end %>
                <%if hidelabel%>
                      <!--
                      this label is for like if there is no room available then hide that room.
                      -->
                  <script>
                    $("#hidelabel<%=hidecount%>").hide();
                  </script>
                <%end%>
              </div>
            </fieldset>                
          <% end %>
        <%end%>
        <div>                
          <%= hidden_field_tag "campany_id",params['company_id']%>
          <%= hidden_field_tag "checkin",params['checkin'] %>
          <%= hidden_field_tag "checkout",params['checkout']  %>
          <%= submit_tag "Book Rooms",:id=>"book_rooms"%>                           
        </div>  
       </div>
    </div>
    </form>
  </div>
</div>
