 <div class="signup_bg">

<div class=" signupheadingbg">

<div class="signuptext">Payment<span class="signuptextcolor"> Preview</span> </div>
</div>
<table width="200" border="0" align="center">
  <tr>
    <td width="138" height="49"><span class="listening_eventstext"> Name :</span></td>
    <td width="283"><span class="listening_eventstext"><%= @address['name'] %></span></td>
  </tr>
  
  <tr>
    <td height="41"><span class="listening_eventstext">Address 1 :</span></td>
    <td class="listening_eventstext"><%= @address['address1'] %></td>
  </tr>
  <tr>
    <td height="47" class="listening_eventstext">Address 2 </td>
    <td class="listening_eventstext"><%= @address['address2'] %></td>
  </tr>
   <tr>
    <td height="45" class="listening_eventstext">City</td>
    <td class="listening_eventstext"><%= @address['city'] %></td>
  </tr>
   <tr>
    <td height="45" class="listening_eventstext">State</td>
    <td class="listening_eventstext"><%= @address['state'] %></td>
  </tr>
   <tr>
    <td height="45" class="listening_eventstext">Country</td>
    <td class="listening_eventstext"><%= @address['country'] %></td>
  </tr>  
  
  <tr>
    <td height="45" class="listening_eventstext">Zip</td>
    <td class="listening_eventstext"><%= @address['zip'] %></td>
  </tr>
  <tr>
    <td height="45" class="listening_eventstext">Amount</td>
    <td class="listening_eventstext"><%= session[:amount] %></td>
  </tr>
    <%if !@convert_amount.blank?%>
  <tr>
    <td height="45" class="listening_eventstext">USD Conversion </td>
    <td class="listening_eventstext"> 
    <%=@convert_amount%>&nbsp;&nbsp;&nbsp;&nbsp;<%="USD" %>
    </td>
 <!-- this is for adding just a new comment in github -->
  </tr>
  <%end%>
  <tr>
    <td height="45" class="listening_eventstext">Check In </td>
    <td class="listening_eventstext"><%= session[:checkin] %></td>
  </tr>
  <tr>
    <td height="45" class="listening_eventstext">Check Out </td>
    <td class="listening_eventstext"><%= session[:checkout] %></td>
  </tr>
  <tr>
    <td height="45" class="listening_eventstext">Rooms </td>
    <td class="listening_eventstext"><%= @room.join(",") %></td>
  </tr>
  
  
  
  
  
  <tr>
     
    <td>
      <%= form_tag :action => 'complete', :token => params[:token], :payer_id => params[:PayerID] do %>
      <%= token_tag(nil) %>
      <%= submit_tag 'Complete Payment' ,:id=>"Checkavailabilitybuttons2"%>
       <div class="viewbutton">
                <ul>
                <li>
      <%= link_to 'Reject Payment' ,payments_rejected_payment_path({:token=>params[:token]}),:class=>"Checkavailabilitybutton"%>
                  </li>
                  </ul>
         </div>
<% end %>
      
    </td>
  </tr>
   
</table>
 




</div>






 