
<%=form_tag  gds_auths_path%>

username<%=text_field_tag "username"%>
<br/>
password<%=text_field_tag "userauth"%>
<br/>
openerpurl<%=text_field_tag "erpurl"%>
<br/>
database<%=text_field_tag "database"%>


<%=submit_tag "Add Authenticate"%>
</form>