<%=form_tag('/room_books/add_an_item' )%>
Start Date<%=text_field_tag "start_date",@gdsconf.name.strftime("%d/%m/%Y"),:readonly=>true%>dd/mm/yy
<br/>
End Date<%=text_field_tag "end_date",@gdsconf.to_date.strftime("%d/%m/%Y"),:readonly=>true%>dd/mm/yy
<br/>
<%=hidden_field_tag :gdsid,params[:gdsid]%>
<h2>
  Select Room Type
</h2>
<%if params[:commit] == "Show Rooms"%>
<%= select_tag  "room_type", options_from_collection_for_select(@prgcat,"name", "name",params[:room_type]),  :prompt => "",:disabled=>true %> 

<%else%>
<%= select_tag  "room_type", options_from_collection_for_select(@prgcat,"name", "name",params[:room_type]),  :prompt => "" %> 

<%end%>
  


<%=submit_tag "Show Rooms" %>
  <%=params[:commit]%>
<%if params[:commit] == 'Delete Allocated Rooms'%>
 <%hrbh = GDS::HotelRoomBookingHistory.all%>
<%for el in @gdsconf.line_ids%>
  <%for rn in el.room_number%>
  <div>
     <%if rn.categ_id.name == params[:room_type] %>
    <%
    #yy/mm/dd
    #here i need to add one more condition and that is if the room is booked within the period of user selected.
    #then it can not be deleted hence i am not showing that room
    #     HotelRoomBookingHistory
    #i am copying here the logic for check weather the room is in the range of users selected date or not
    #so here i need to fetch all the records of that particular room name. then in the loop need to check a date
    #and if the rooms comes in the date range then append to particular array.if the array is blank then the room in not booked
    #otherwise the room is booked i can check this by king3 room which should not be deleted
       
        #params is ddmmyy
        #Date.civil is yymmdd
        paramscheckin = Date.civil(params[:start_date].split("/")[2].to_i,params[:start_date].split("/")[1].to_i,params[:start_date].split("/")[0].to_i)
        paramschekout = Date.civil(params[:end_date].split("/")[2].to_i,params[:end_date].split("/")[1].to_i,params[:end_date].split("/")[0].to_i)
        logger.info paramscheckin.inspect
        logger.info paramschekout.inspect
        logger.info "888888888888888"
         viewbookedarray = []
            hrbh.each do |ebr|  
              if ebr.history_id.product_id.id == rn.id
                if paramscheckin >= ebr.check_in_date  and paramschekout <= ebr.check_out_date
               viewbookedarray << ebr 
               elsif paramscheckin >= ebr.check_in_date  and paramschekout >= ebr.check_out_date  and paramscheckin <= ebr.check_out_date  and ebr.check_out_date >  paramschekout
                 viewbookedarray << ebr 
               elsif  paramscheckin <= ebr.check_in_date  and paramschekout <= ebr.check_out_date  and paramschekout >= ebr.check_in_date   
                 viewbookedarray << ebr 
               elsif  paramscheckin <= ebr.check_in_date  and paramschekout >= ebr.check_out_date  
                 viewbookedarray << ebr 
               elsif  ebr.check_in_date <= paramscheckin and ebr.check_out_date <= paramschekout  and paramscheckin <= ebr.check_out_date
                 viewbookedarray << ebr 
               end
              end 
           end
          %> 
     <%if viewbookedarray.blank?%>
        <%=rn.name%>
        <%#now for delete each room number i need a checkbox %>
        <%#in the room name i need to show by underscore which gds configuration is this and which line id is this%>
       <%=check_box "deleteroom" , rn.name.to_s + "_" + @gdsconf.id.to_s + "_"+el.id.to_s+ "_"+rn.id.to_s%>
    <%end%>
    
    
    <%end%>
   </div>
 <%end%>
<%end%>

<%=submit_tag "Delete Allocated Rooms"%>
<%end%>
 <%if params[:commit] == 'Show Rooms'%>
  <%paramscheckin = Date.civil(params[:start_date].split("/")[2].to_i,params[:start_date].split("/")[1].to_i,params[:start_date].split("/")[0].to_i)
    paramschekout = Date.civil(params[:end_date].split("/")[2].to_i,params[:end_date].split("/")[1].to_i,params[:end_date].split("/")[0].to_i)
  %>
   <%#here i need to put an condition that is similar to above delete. means if the record is in booking history then its not%>
<%#allowed here to add it%>
 <% hrbha = GDS::HotelRoomBookingHistory.all%>  
  <%for arm in @filteredroomarray%>

    <%#so this div will not be shown unless its not in room booking history%>
    <%viewbookedarraya = []
    
            hrbha.each do |ebr| 
              if ebr.history_id.product_id.id == arm.id        
                if paramscheckin >= ebr.check_in_date  and paramschekout <= ebr.check_out_date
               viewbookedarraya << ebr 
               elsif paramscheckin >= ebr.check_in_date  and paramschekout >= ebr.check_out_date  and paramscheckin <= ebr.check_out_date  and ebr.check_out_date >  paramschekout
                 viewbookedarraya << ebr 
               elsif  paramscheckin <= ebr.check_in_date  and paramschekout <= ebr.check_out_date  and paramschekout >= ebr.check_in_date   
                 viewbookedarraya << ebr 
               elsif  paramscheckin <= ebr.check_in_date  and paramschekout >= ebr.check_out_date  
                 viewbookedarraya << ebr 
               elsif  ebr.check_in_date <= paramscheckin and ebr.check_out_date <= paramschekout  and paramscheckin <= ebr.check_out_date
                 viewbookedarraya << ebr 
               end
              end 
      
           end%>
   <%if viewbookedarraya.blank?%>
      <div>
        <%=arm.name%>
        <%=check_box "addroom" , arm.id%>
      </div>
   <%end%>
  
    <%end%>
    <%=submit_tag "Add To Gds"%>
<%end%>

</form>