


<%=form_tag room_books_add_room_date_path%>



Start Date<%=text_field_tag "start_date"%> 
<br/>
End Date<%=text_field_tag "end_date"%> 
<br/>
   <div>
    <%if !session[:gds_shop_id_name].blank?%>
       Shop  :-  <%=session[:gds_shop_id_name]%>
    <%end%>
    </div>

<%#= select_tag  "room_type", options_from_collection_for_select(@prgcat,"name", "name" ),  :prompt => "" %> 

<%=submit_tag "Get Available Rooms"%>
</form>



 
 










 