
 <%=form_tag room_books_get_available_room_type_path %>
  start date :- <%=text_field_tag 'start_date',params[:start_date],:readonly=>true%>
  <br/>
  end date :- <%=text_field_tag 'end_date',params[:end_date],:readonly=>true%>
  <br/><br/>
  <div>
    <%if !session[:gds_shop_id_name].blank?%>
       Shop  :-  <%=session[:gds_shop_id_name]%>
    <%end%>
    </div>
  <br/>
  <%= select_tag  "room_type", options_from_collection_for_select(@prgcat,"name", "name" ),  :prompt => "" %> 
  <%=submit_tag "Add Room"%>
  
  
  <%#the first loop i am creating here to just get an category ids and then count it %>
  <%showsubmit=false%>
  <%if @hotelgdsconf && @hotelgdsconf.line_ids%>
  <%@hotelgdsconf.line_ids.each do |hgdscline|%>
    <div>
     <%#here an delete checkbox should be there which will delete this gdsline%>
        <%#=check%>
         <%#the name should be as delete hrgdslin%>
         <%=  check_box_tag 'hgdscline[]' ,hgdscline.id %>
        <%= hgdscline.categ_id.name %>
       
        <%=hgdscline.room_number.count%>
            <%=link_to  'edit' , "/room_books/available_for_gds/"+@hotelgdsconf.id.to_s+"&&"+"avlfgds="+hgdscline.categ_id.name.to_s+"&&"+"checkin="+@hotelgdsconf.name.to_s+"&&"+"checkout="+@hotelgdsconf.to_date.to_s%>
     <%showsubmit=true%>
    </div>
  <%end%>
  <div>
    <%if showsubmit%>
    <%=submit_tag 'delete' %>
    <%end%>
    </div>
  <%end%>
      <%=hidden_field_tag "gdscid",params[:gdscid]%>
     
  </form>
  