<%showsubmit=false%>
  <%if @hotelgdsconf && @hotelgdsconf.line_ids%>
  <%@hotelgdsconf.line_ids.each do |hgdscline|%>
         <%showsubmit=true%>
   <%end%>
<%end%>
   
  
  
  
  <%#####################################################copyingggggggggggggggggggggggggggggg%>
   <%=form_tag room_books_get_available_room_type_path ,:onsubmit=>"return check_room_type()"%>
  <div class="todate_fromdatebg">
      <div class="todate_fromdateheadingbg">
          <%if showsubmit%>
    <%=submit_tag 'delete' ,:class=>'submit_button'%>
        
    <%end%>
   <table><tr><td>
 <%= link_to 'Back', "/room_books/add_room"  ,:class=>"submit_button"%>
  </td>
  </tr>
  </table>
      </div>
        <table width="297" height="79" border="0" align="center">
            <tr>
              <td width="104" height="23" class="todate_fromdateheadingtext">Start Date: -</td>
              <td width="177"> 
                   <%=text_field_tag 'start_date',params[:start_date],:readonly=>true%>
               </td>
            </tr>
            <tr>
              <td height="23" class="todate_fromdateheadingtext">End Date :-</td>
              <td> 
              <%=text_field_tag 'end_date',params[:end_date],:readonly=>true%>
             </td>
            </tr>
            <tr>
              <%if !session[:gds_shop_id_name].blank?%>
                  <td class="todate_fromdateheadingtext">Shop :-</td>  
                  <td class="todate_fromdateheadingtext"><%=session[:gds_shop_id_name]%></td>
            <%end%>
              
             
               
             </tr>  
      </table>
      <table width="259" border="0" align="center">
        <tr>
          <td height="33" colspan="2"><div align="center"><span class="selectroomtype">Select Room Type</span> </div></td>
        </tr>
        <tr><td>
          <%= select_tag  "room_type", options_from_collection_for_select(@prgcat,"name", "name" ),  :prompt => "" %> 
        </td></tr>
      </table>
     <%#the first loop i am creating here to just get an category ids and then count it %>
  <%showsubmit=false%>
  <%if @hotelgdsconf && @hotelgdsconf.line_ids%>
  <%@hotelgdsconf.line_ids.each do |hgdscline|%>
    <div class="todate_fromdateheadingtext">
      <table align="center">
        <tr>
     <%#here an delete checkbox should be there which will delete this gdsline%>
        <%#=check%>
         <%#the name should be as delete hrgdslin%>
          <td>&nbsp;</td>
          <td width="154">
            <span class="todate_fromdaterequlartext">
              <%= hgdscline.categ_id.name %>
            </span>
         <%=  check_box_tag 'hgdscline[]' ,hgdscline.id %>
            Count:- <%=hgdscline.room_number.count%>
            </td>
            
          <td>
            <%=link_to  'edit' , "/room_books/available_for_gds/"+@hotelgdsconf.id.to_s+"&&"+"avlfgds="+hgdscline.categ_id.name.to_s+"&&"+"checkin="+@hotelgdsconf.name.to_s+"&&"+"checkout="+@hotelgdsconf.to_date.to_s%>
         </td>
         </tr>
      </table>
    <%showsubmit=true%>
    </div>
  <%end%>
   
  <%end%>
      <table width="259" border="0" align="center">
        <tr>
          <td height="33" colspan="2"><div align="center"><span class="selectroomtype"><%=submit_tag "Add Room",:class=>'submit_button'%></span> </div></td>
        </tr>
      </table>    
     
    
    
    
 

  
       <%=hidden_field_tag "gdscid",params[:gdscid]%>
   </div>  
  </form>
  
  