 

<%=form_tag room_books_add_room_date_path ,:onsubmit=>"return check_date_gds()"%>


<div class="todate_fromdatebg">
<div class="todate_fromdateheadingbg">
</div>
 <table width="297" height="79" border="0" align="center">
  <tr>
    <td width="104" height="23" class="todate_fromdateheadingtext">Start Date: -</td>
    <td width="177"> 
        <%=text_field_tag "start_date"%> 
          
    </td>
  </tr>
  <tr>
    <td height="23" class="todate_fromdateheadingtext">End Date :-</td>
    <td> 
      <%=text_field_tag "end_date"%> 
     </td>
  </tr>
</table>

<table width="372" border="0" align="center">
 
  
  <tr>
  <td width="206"><div align="right">
      <%if !session[:gds_shop_id_name].blank?%>
       Shop  :-  <%=session[:gds_shop_id_name]%>
    <%end%>
  </div>
  </td>
  </tr>
  <tr>
  <td width="156"><div align="left">
   <%=submit_tag "Get Available Rooms"%>
  </div></td>
  </tr>
</table>

 
</div>

</form>



 
 










 