<%######################################################################################%>

 <script>
   function check_delete_and_add_checkbox(){
      
     if($("#checkcheclbox").val() == "1")
       {
          var checkedAtLeastOne = false;
          $('input[type="checkbox"]').each(function() {
           if ($(this).is(":checked")) {
                     checkedAtLeastOne = true;
                 }
               });
           if( checkedAtLeastOne == false )
             {
               alert("Please Select At Least One Room");
             }
          return checkedAtLeastOne;
         
       }
      else{
        return true;
      } 
   }
   </script>

<div class="todate_fromdatebg">
<div class="todate_fromdateheadingbg1" >
     <table width="50" height="28" border="0" align="Left" >
  <tr>
    
    <td width="71">
        <!--<input type="submit" name="button4" id="button4" value="Back" />-->
         <%=link_to "Back","/room_books/show_type/"+params[:gdsid],:class=>'submit_button'%>
    </td>
  </tr>
</table> 
</div>
<%=form_tag('/room_books/add_an_item',:onsubmit=>"return check_delete_and_add_checkbox();" )%>
<table width="297" height="79" border="0" align="center">
  <tr>
    <td width="104" height="23" class="todate_fromdateheadingtext">Start Date: -</td>
    <td width="177"> 

        <%=text_field_tag "start_date",@gdsconf.name.strftime("%d/%m/%Y"),:readonly=>true%>
      
        </td>
  </tr>
  <tr>
    <td height="23" class="todate_fromdateheadingtext">End Date :-</td>
    <td> 
      <%=text_field_tag "end_date",@gdsconf.to_date.strftime("%d/%m/%Y"),:readonly=>true%>
     </td>
  </tr>
 <%=hidden_field_tag :gdsid,params[:gdsid]%>
  <tr>
    <td width="104" height="23"><span class="selectroomtype">Room Type</span></td>
    <td width="177" align="left">
        <%if params[:commit] == "Show Rooms"%>
            <%= select_tag  "room_type", options_from_collection_for_select(@prgcat,"name", "name",params[:room_type]),  :prompt => "",:disabled=>true %> 
        <%else%>
           <%= select_tag  "room_type", options_from_collection_for_select(@prgcat,"name", "name",params[:room_type]),  :prompt => "" %> 
        <%end%>
    </td>
  </tr>
     
    <%if params[:commit] == "Show Rooms"%>
     <%else%>
      <tr><td width="129" height="32" >&nbsp;</td>
        <td width="129" height="32" >
           <%=submit_tag "Show Rooms",:class=>'submit_button',:onclick=>"$('#checkcheclbox').val(0)" %>
        </td>
      </tr>
     <%end%>
    
 
   
  
  
  <%if params[:commit] == 'Delete Allocated Rooms'%>
 <%hrbh = GDS::HotelRoomBookingHistory.all%>
<%for el in @gdsconf.line_ids%>
  <%for rn in el.room_number%>
   
     <%if rn.categ_id.name == params[:room_type] %>
    <%
    #yy/mm/dd
    #here i need to add one more condition and that is if the room is booked within the period of user selected.
    #then it can not be deleted hence i am not showing that room
    #     HotelRoomBookingHistory
    #i am copying here the logic for check weather the room is in the range of users selected date or not
    #so here i need to fetch all the records of that particular room name. then in the loop need to check a date
    #and if the rooms comes in the date range then append to particular array.if the array is blank then the room in not booked
    #otherwise the room is booked i can check this by king3 room which should not be deleted
       
        #params is ddmmyy
        #Date.civil is yymmdd
        paramscheckin = Date.civil(params[:start_date].split("/")[2].to_i,params[:start_date].split("/")[1].to_i,params[:start_date].split("/")[0].to_i)
        paramschekout = Date.civil(params[:end_date].split("/")[2].to_i,params[:end_date].split("/")[1].to_i,params[:end_date].split("/")[0].to_i)
          viewbookedarray = []
            hrbh.each do |ebr|  
              if ebr.history_id.product_id.id == rn.id
                if paramscheckin >= ebr.check_in_date  and paramschekout <= ebr.check_out_date
               viewbookedarray << ebr 
               elsif paramscheckin >= ebr.check_in_date  and paramschekout >= ebr.check_out_date  and paramscheckin <= ebr.check_out_date  and ebr.check_out_date >  paramschekout
                 viewbookedarray << ebr 
               elsif  paramscheckin <= ebr.check_in_date  and paramschekout <= ebr.check_out_date  and paramschekout >= ebr.check_in_date   
                 viewbookedarray << ebr 
               elsif  paramscheckin <= ebr.check_in_date  and paramschekout >= ebr.check_out_date  
                 viewbookedarray << ebr 
               elsif  ebr.check_in_date <= paramscheckin and ebr.check_out_date <= paramschekout  and paramscheckin <= ebr.check_out_date
                 viewbookedarray << ebr 
               end
              end 
           end
          %> 
     <%if viewbookedarray.blank?%>
         <tr>
            <td height="31">&nbsp;</td>
            <td width="154">  <span class="todate_fromdaterequlartext"><%=rn.name%> </span>
            <%=check_box "deleteroom" , rn.name.to_s + "_" + @gdsconf.id.to_s + "_"+el.id.to_s+ "_"+rn.id.to_s%>      </td>
         </tr>
         <%#now for delete each room number i need a checkbox %>
        <%#in the room name i need to show by underscore which gds configuration is this and which line id is this%>
      <%end%>
     <%end%>
  <%end%>
<%end%>
 <tr><td><%=submit_tag "Delete Allocated Rooms",:class=>'submit_button',:onclick=>"$('#checkcheclbox').val(1)"%></td></tr>
<%end%>
  
  
  
  
  <%if params[:commit] == 'Show Rooms'%>
  <%paramscheckin = Date.civil(params[:start_date].split("/")[2].to_i,params[:start_date].split("/")[1].to_i,params[:start_date].split("/")[0].to_i)
    paramschekout = Date.civil(params[:end_date].split("/")[2].to_i,params[:end_date].split("/")[1].to_i,params[:end_date].split("/")[0].to_i)
  %>
   <%#here i need to put an condition that is similar to above delete. means if the record is in booking history then its not%>
<%#allowed here to add it%>
 <% hrbha = GDS::HotelRoomBookingHistory.all%>  
  <%for arm in @filteredroomarray%>
     <%#so this div will not be shown unless its not in room booking history%>
    <%viewbookedarraya = []
             hrbha.each do |ebr| 
              if ebr.history_id.product_id.id == arm.id        
                if paramscheckin >= ebr.check_in_date  and paramschekout <= ebr.check_out_date
               viewbookedarraya << ebr 
               elsif paramscheckin >= ebr.check_in_date  and paramschekout >= ebr.check_out_date  and paramscheckin <= ebr.check_out_date  and ebr.check_out_date >  paramschekout
                 viewbookedarraya << ebr 
               elsif  paramscheckin <= ebr.check_in_date  and paramschekout <= ebr.check_out_date  and paramschekout >= ebr.check_in_date   
                 viewbookedarraya << ebr 
               elsif  paramscheckin <= ebr.check_in_date  and paramschekout >= ebr.check_out_date  
                 viewbookedarraya << ebr 
               elsif  ebr.check_in_date <= paramscheckin and ebr.check_out_date <= paramschekout  and paramscheckin <= ebr.check_out_date
                 viewbookedarraya << ebr 
               end
              end 
            end%>
   <%if viewbookedarraya.blank?%>
 <tr> <td></td>
                 <td>
                   <table>
                     <tr>
                       <td><%=check_box "addroom" , arm.id%>
                         </td>
                         <td>
                           <span class="todate_fromdaterequlartext"><%=arm.name%> </span>
                           </td>
                       </tr>
                     </table>
                  </td>
               </tr>
    <%end%>
     <%end%>
   <tr>
     <td> </td>
     <td> <%=submit_tag "Add To Gds",:class=>'submit_button',:onclick=>"$('#checkcheclbox').val(1)"%></td></tr>
   <!--
   here i am putting some logic as i used somewhere else one time and that is submit tag click i am keeping a hidden text field value
   as 1 and on show rooms keep the value as 0. so that a javascript function can be called and in that just check what is this hidden 
   text field value and according to that checking is done   
   -->
<%end%>
  
         <input type="hidden" name="checkcheclbox" value="0" id="checkcheclbox"/>

</table>
  </form>
 </div>
 