 
<%=form_tag "/room_books/add_to_gds" ,:onsubmit=>"return get_available_room_type_check_box()"%>
 
 
 
 
<%###############################%>
<div class="todate_fromdatebg">
<div class="todate_fromdateheadingbg">
</div>

<table width="297" height="79" border="0" align="center">
  <tr>
    <td width="104" height="23" class="todate_fromdateheadingtext">Start Date: -</td>
    <td width="177"> 

         <%=text_field_tag 'start_date',params[:start_date]%>
    </td>
  </tr>
  <tr>
    <td height="23" class="todate_fromdateheadingtext">End Date :-</td>
    <td> 
       <%=text_field_tag 'end_date',params[:end_date]%>
    </td>
  </tr>
  <tr>
    <td height="23" class="todate_fromdateheadingtext">
      
      <%if !session[:gds_shop_id_name].blank?%>
       Shop  :-
      <%end%>
      
    </td>
    <td class="todate_fromdateheadingtext"> 
       <%if !session[:gds_shop_id_name].blank?%>
           <%=session[:gds_shop_id_name]%>
       <%end%>
    </td>
  </tr>
   
</table>

<table width="259" border="0" align="center">
  <tr>
    <td height="33" colspan="2"><div align="center"><span class="selectroomtype">Select Room Type</span> </div></td>
  </tr>
  <tr>
    <td width="129" height="32">
     <%= select_tag  "room_type", options_from_collection_for_select(@prgcat,"name", "name",params[:room_type]),  :prompt => "",:disabled=>true %> 
   </td>
    <td width="154">      </td>
  </tr>
  
    
    
   <%#here also need to put an condition about already reserved room and showing an add to room%>  
 
  <% hrbha = GDS::HotelRoomBookingHistory.all%>
 <%for arm in @filteredroomarray%>
    <%viewbookedarraya = []
             hrbha.each do |ebr|  
             if ebr.history_id.product_id.id == arm.id
                if @paramscheckin >= ebr.check_in_date  and @paramschekout <= ebr.check_out_date
               viewbookedarraya << ebr 
               elsif @paramscheckin >= ebr.check_in_date  and @paramschekout >= ebr.check_out_date  and @paramscheckin <= ebr.check_out_date  and ebr.check_out_date >  @paramschekout
                 viewbookedarraya << ebr 
               elsif  @paramscheckin <= ebr.check_in_date  and @paramschekout <= ebr.check_out_date  and @paramschekout >= ebr.check_in_date   
                 viewbookedarraya << ebr 
               elsif  @paramscheckin <= ebr.check_in_date  and @paramschekout >= ebr.check_out_date  
                 viewbookedarraya << ebr 
               elsif  ebr.check_in_date <= @paramscheckin and ebr.check_out_date <= @paramschekout  and @paramscheckin <= ebr.check_out_date
                 viewbookedarraya << ebr 
               end
            end  
           end%>
     <%if viewbookedarraya.blank?%>
      <tr>
        <td height="31">&nbsp;</td>
        <td width="154">  <span class="todate_fromdaterequlartext"><%=arm.name%> </span>
        <%=check_box "addroom" , arm.id%>      </td>
      </tr>
    <%end%>
  <%end%>
        <tr>
         <td>&nbsp;</td>
          <%if @bookedgdsc[0]%>
<%=hidden_field_tag "gdscid",@bookedgdsc[0].id%>
<%end%>
 <%=hidden_field_tag "gdscid",params[:gdscid]%>
<%=hidden_field_tag "checkin",@paramscheckin%>
<%=hidden_field_tag "checkout",@paramschekout%>
<td>
 <%=submit_tag "Add to gds",:id=>"button",:name=>"button",:class=>'submit_button'%>
        </td>
       </tr>
</table>
 </div>
 
</form>
 