 
<%=form_tag "/room_books/add_to_gds"%>
 start date :- <%=text_field_tag 'start_date',params[:start_date]%>
  <br/>
  end date :- <%=text_field_tag 'end_date',params[:end_date]%>
  <br/><br/>
    <div>
    <%if !session[:gds_shop_id_name].blank?%>
       Shop :-   <%=session[:gds_shop_id_name]%>
    <%end%>
    </div>
  <br/>
 
  <%= select_tag  "room_type", options_from_collection_for_select(@prgcat,"name", "name",params[:room_type]),  :prompt => "",:disabled=>true %> 
  <br/><br/>
<div>
  
  </div>

<%#here also need to put an condition about already reserved room and showing an add to room%>  
 
  <% hrbha = GDS::HotelRoomBookingHistory.all%>
 <%for arm in @filteredroomarray%>
    <%viewbookedarraya = []
    
    
   
            hrbha.each do |ebr|  
             if ebr.history_id.product_id.id == arm.id
                if @paramscheckin >= ebr.check_in_date  and @paramschekout <= ebr.check_out_date
               viewbookedarraya << ebr 
               elsif @paramscheckin >= ebr.check_in_date  and @paramschekout >= ebr.check_out_date  and @paramscheckin <= ebr.check_out_date  and ebr.check_out_date >  @paramschekout
                 viewbookedarraya << ebr 
               elsif  @paramscheckin <= ebr.check_in_date  and @paramschekout <= ebr.check_out_date  and @paramschekout >= ebr.check_in_date   
                 viewbookedarraya << ebr 
               elsif  @paramscheckin <= ebr.check_in_date  and @paramschekout >= ebr.check_out_date  
                 viewbookedarraya << ebr 
               elsif  ebr.check_in_date <= @paramscheckin and ebr.check_out_date <= @paramschekout  and @paramscheckin <= ebr.check_out_date
                 viewbookedarraya << ebr 
               end
            end  
           end%>
  
  
    <%if viewbookedarraya.blank?%>
      <div>
        <%=arm.name%>
        <%=check_box "addroom" , arm.id%>
      </div>
    <%end%>
  
 <%end%>
  
  
  
  
  
  
  
  
<%if @bookedgdsc[0]%>
<%=hidden_field_tag "gdscid",@bookedgdsc[0].id%>
<%end%>
 <%=hidden_field_tag "gdscid",params[:gdscid]%>
<%=hidden_field_tag "checkin",@paramscheckin%>
<%=hidden_field_tag "checkout",@paramschekout%>
<%=submit_tag "Add to gds"%>
</form>



