  <%=form_tag room_books_action_gds_conf_path,:onsubmit=>"return check_conf_list_check_box()"%>
   <div class="todate_fromdatebg">
     <div class="todate_fromdateheadingbg">
        <table width="130" height="28" border="0" align="right">
          <tr>
            <td width="72" height="28">
                 <%selected = params[:page] || "20" %>
                 
                 <%=  select_tag "page",options_for_select([["Select" , "" ],["20" , "20" ],["40" , "40" ],["unlimited","unlimited"]],:selected=>selected),:onchange=>"submit_this_form(this);"%>
              
             
            </td>
            <td width="72" height="28">
                <%=  submit_tag "Add",:onclick=>"$('#deleteroom').val(0)" ,:class=>'submit_button'%>
            </td>
            <td width="71">
                <%=  submit_tag "Delete",:onclick=>"$('#deleteroom').val(1)" ,:class=>'submit_button'%>
            </td>
            <td>
              <%=  submit_tag "Synchronize",:onclick=>"$('#deleteroom').val(1)",:class=>'submit_button' %>
               <%=  hidden_field_tag "deleteroom"%>
            </td>
          </tr>
        </table>
        </div>
 
        <table width="497" height="104" border="0" align="center">
           
              <tr class="todate_fromdateheadingtext">
                <td width="48" height="23"><div align="center" >Select</div></td>
                <td width="102"><div align="center" >From Date </div></td>
                <td width="88"><div align="center" >To Date</div></td>
                <td width="107"><div align="center" >Shop</div></td>
                <td width="62"><div align="center" >View</div></td>
                <td width="50"><div align="center">Edit</div></td>
              </tr>
              <%for gdshc in @hrtgdsconf%>
              <tr class="todate_fromdaterequlartext" >
                <td height="23">
                    <div align="center">
                      <%=  check_box_tag 'gdshc[]' ,gdshc.id %>
                    </div>
                </td>
                <td><div align="center" ><%=  gdshc.name %></div></td>
                <td><div align="center"><%=  gdshc.to_date%></div></td>
                <td><div align="center" >
                    <%if !session[:gds_shop_id_name].blank?%>
                      <%=session[:gds_shop_id_name]%>
                    <%end%></div>
                </td>
                <td align="center" valign="center">
                <div class="">
                <ul>
                <li style="list-style: none"><a href="#"><%=  link_to  image_tag("bonobo-browser.png",:size=>"20x20") , "/room_books/show_view/#{gdshc.id}"%></a></li>
                </ul>
                </div>

                </td>
                <td align="center"><div  >
                <ul>
                <li style="list-style: none"><a href="#"><%=  link_to  image_tag("pencil.jpg",:size=>"20x20") , "/room_books/show_type/#{gdshc.id}"%></a></li>
                </ul>
                </div></td>
              </tr> 
              <% end %>
            </table>
      </form>
     </div>
 
 
  <script>
                   function submit_this_form(thisselect)
                   {
                      
                     if(thisselect.value == "")
                       {
                         
                       }
                       else{
                         thisselect.form.submit(); 
                       }
                     
                   }
               </script>
 