

<%=form_tag room_books_action_gds_conf_path%>
<table>
  <tr>
     <th>
    Delete
  </th>
  <th>
    From Date
  </th>
    <th>
    To Date
  </th>
  </tr>
  
  <%for gdshc in @hrtgdsconf%>
  <tr>
    <td>
        <%=  check_box_tag 'gdshc[]' ,gdshc.id %>
    </td>
    
    
  <td>
    <%=  link_to gdshc.name , "/room_books/show_type/#{gdshc.id}"%>
  </td>
 
  <td>
     <%=  gdshc.to_date%>
  </td>
  <td>
    <%=  link_to  "View" , "/room_books/show_view/#{gdshc.id}"%>
  </td>
     
  </tr>
  <%end%>
</table>
<%#add a room should take me to a a page where first it should ask me for start and end date%>
<%=  submit_tag "Add" %>
<br/>
<%=  submit_tag "Delete" %>
<br/>
<%#=  link_to "Edit",updateavails_get_dates_path%>
 

<br/>
 