 



<script>
  function check_radio_button()
  {
    mylastreturn = true;
    if($('#showallocateclick').val()=='1')
     {
     var checked = false, radios  = document.getElementsByName( 'avlfgds' );
    for(var i = 0, radio; radio = radios[i]; i++) {
        if (radio.checked) {
            checked = true;
            break;
        }
       }
 if (!checked) {
    alert("Please select room type");
     
    mylastreturn = false;
    
 }
else
  {
   }
      }
      //here i am adding an date validation.the problem with this date validation is it will get triggered
      //at each submit button. which i think for this function its ok.
      
      
      
     if($("#start_date").datepicker("getDate") === null) {
         alert("Select check-in date");
         mylastreturn = false;    
      }
    if($("#end_date").datepicker("getDate") === null) {
        alert("Select your departure date");
        mylastreturn = false;
    }
     var checkout = new Date($('#end_date').val().split('/')[2] +"-"+ $('#end_date').val().split('/')[1]+"-"+$('#end_date').val().split('/')[0]);
     var checkin = new Date($('#start_date').val().split('/')[2]+"-"+$('#start_date').val().split('/')[1]+"-"+ $('#start_date').val().split('/')[0]);
     
    if(checkout < checkin)
   {
     alert("Checkin date should be smaller than Checkout Date");
     mylastreturn = false;
   }
    year = new Date().getFullYear();
    month = new Date().getMonth();
    day = new Date().getDate();
    var today = new Date(year,month,day);
    
    
     if(  checkin < today)
   {
     alert("It should not be less than the current datol");
     mylastreturn = false;
   }  
      
      
      
      
      
      
      
      
      
      
      
      
    return mylastreturn;
       
  }
  
  </script>
  <%=form_tag('/room_books/available_for_gds',:onsubmit=>"return check_radio_button()" )%>
  <input type="text" name="showallocateclick" id="showallocateclick" style="display:none"/>
<div class="">

<div class="todate_fromdatebg">
<div class="todate_fromdateheadingbg">

<table width="50" height="28" border="0" align="right" >
  <tr>
    
    <td width="71">
        <%=submit_tag "Save",:onclick=>"$('#showallocateclick').val('0')" %>

    </td>
  </tr>
</table>

<table width="50" height="28" border="0" align="Left" >
  <tr>
    
    <td width="71">
        <!--<input type="submit" name="button4" id="button4" value="Back" />-->
         <%=link_to "Back",room_books_path%>
    </td>
  </tr>
</table>

   
</div>

<table width="297" height="79" border="0" align="center">
  <tr>
    <td width="104" height="23" class="todate_fromdateheadingtext">Start Date: -</td>
    <td width="177"><form id="form11" name="form11" method="post" action="">

        <%=text_field_tag "start_date",@hrtgdsconf.name.strftime("%d/%m/%Y")%> 
      
    </form>    </td>
  </tr>
  <tr>
    <td height="23" class="todate_fromdateheadingtext">End Date :-</td>
    <td> 
      <%=text_field_tag "end_date",@hrtgdsconf.to_date.strftime("%d/%m/%Y")%> 
     </td>
  </tr>
</table>

<table width="297" height="72" border="0" align="center">
  <tr class="todate_fromdateheadingtext">
    <td width="149" height="30" class="todate_fromdateheadingtext">Select Room Type:-</td>
     <%for roomtype in @all_cat_name%>
        <td width="57">
            <%=roomtype%> 
            <%=radio_button_tag "avlfgds",roomtype %>
        </td>
     <%end%>
  </tr>
   <tr>
    <td height="23">
      
      <%=submit_tag "Show Allocated Rooms",:onclick=>"$('#showallocateclick').val('1')" %>
    </td>
    <td colspan="2"><%=hidden_field_tag "gdsid",params[:id]%>
<%=hidden_field_tag "checkin", @paramscheckin%>
<%=hidden_field_tag "checkout", @paramscheckout%>

<%=submit_tag "Add An Item",:onclick=>"$('#showallocateclick').val('0')" %></td>
  </tr>
<tr><td>
<%=submit_tag "Save",:onclick=>"$('#showallocateclick').val('0')" %>
</td>
</tr>


</table>
 
</div>

 
</div>
  </form>