    <%=form_tag('/authenticates/sign_up_auth' ,{:onSubmit=>"return check_validation()"})%>
<div class="signup_bg">

<div class=" signupheadingbg">

<div class="signuptext">SIGN UP<span class="signuptextcolor"> ACCOUNT</span> </div>
</div>

<table width="400" border="0" align="center">
  <tr>
    <td width="193" height="45" class="listening_eventstext">Contact Name* </td>
    <td width="197">
      <label>
         
        <%= text_field_tag "name","",:size =>"30" %>
        </label>
        </td>
  </tr>
  <tr>
    <td height="38" class="listening_eventstext">Email*</td>
    <td><%= text_field_tag "email","",:size =>"30" %></td>
  </tr>
  <tr>
    <td height="40" class="listening_eventstext">Address* </td>
    <td>
      <%= text_field_tag "street" ,"" , :size =>"30" %>
     </td>
  </tr>
  <tr>
    <td height="37" class="listening_eventstext">City </td>
    <td><%= text_field_tag "city","" , :size =>"30" %></td>
  </tr>
  <tr>
    <td height="39" class="listening_eventstext">Postal Code </td>
    <td><%= text_field_tag "zip","" , :size =>"30" %></td>
  </tr>
  <tr>
    <td height="44" class="listening_eventstext">Telephone </td>
    <td><%= text_field_tag "phone","" , :size =>"30" %></td>
  </tr>
  <tr>
    <td height="35" class="listening_eventstext">Password </td>
    <td> <%=password_field_tag "userpassword","" , :size =>"30"%></td>
  </tr>
  <tr>
    <td height="48" class="listening_eventstext">Confirm Password  </td>
    <td><%=password_field_tag "userpassword_confirm","" , :size =>"30"%></td>
    <%=hidden_field_tag "database_name", 'hotel_mgmt_payment_7'%>
  </tr>
  <tr>
  <td></td>
  <td>
    <%=submit_tag "Sign Up" ,:id=>'signup'%>
  
  
  </td>
  </tr>
</table>
 </div>
</form>