
  <%=form_tag(authenticates_sign_in_auth_path)%>
<div class="login_bg">
<div class="loginheadingbg">
<div class="signuptext">SIGN IN <span class="signuptextcolor">ACCOUNT</span></div>
 </div>
 <table width="350" border="0" align="center">
  <tr>
<td height="20" colspan="2" class="invalid"> <%=flash[:notice]%></td>
</tr>
  <tr>
    <td width="121" height="38" class="listening_eventstext">Email*</td>
    <td width="269">
     <%=text_field_tag "useremail" ,'',:size=>'30'%>
    </td>
  </tr>
  <tr>
    <td height="40" class="listening_eventstext">Password </td>
    <td> 
    <%=password_field_tag "userpassword",'',:size=>'30' %>
    </td>
  </tr>
  <tr>
  <td colspan="2">  
      <%=link_to "Forgot Password" ,authenticates_forgot_password_path,:class=>'listening_eventstext'%>
    <br/>
     <%=link_to "Sign Up",authenticates_sign_up_path,:class=>'listening_eventstext'%>
     <button id="signup" type="submit">Sign In</button></td>
  </tr>
 </table>
 </div>
 </form>
