<html>
  <head>
    
     
    <%= javascript_include_tag "jquery-1.10.1.min" %>
    <%= javascript_include_tag "jquery-migrate-1.0.0" %>
    <%= javascript_include_tag "jquery-ui.min" %>
    <%= javascript_include_tag "thickbox" %>
    <%=javascript_include_tag 'jquery_ujs'%>
    <%=javascript_include_tag "jquery-ui-timepicker-addon.js"%>
    <%=javascript_include_tag "jquery-ui-sliderAccess.js"%>
    <%=stylesheet_link_tag "jquery-ui"%>
    <%=stylesheet_link_tag "jquery-ui-timepicker-addon"%>
    <%= stylesheet_link_tag    "weblayout", :media => "all" %>
    <%= stylesheet_link_tag    "web_styles", :media => "all" %>
    <%= stylesheet_link_tag    "thickbox" %>
    <%= javascript_include_tag "thickbox" %>

                
  <script>   
    $(function() {	
      $("#checkout").datetimepicker();
      $("#checkin").datetimepicker();
    });
    function check_date(){
     datevalid = true;
     if($("#checkin").datetimepicker("getDate") === null) {
         alert("Select check-in date");
         datevalid = false;    
      }
    if($("#checkout").datetimepicker("getDate") === null) {
        alert("Select your departure date");
        datevalid = false;
    }
     var checkout= new Date($('#checkout').val());
     var checkin = new Date($('#checkin').val());
    if(checkout<checkin)
   {
     alert("Checkin date should be smaller than Checkout Date");
     datevalid = false;
   }
    year = new Date().getFullYear();
    month = new Date().getMonth();
    day = new Date().getDate();
    var today = new Date(year,month,day);;
   if(  checkin < today)
   {
     alert("It should not be less than the current datol");
     datevalid = false;
   }
   return datevalid;
}
    
 
 function checkroomisselected(){
   
   var checkedAtLeastOne = false;
    $('input[type="checkbox"]').each(function() {
     if ($(this).is(":checked")) {
               checkedAtLeastOne = true;
           }
         });
     if( checkedAtLeastOne == false )
       {
         alert("Please Select At Least One Room");
       }
          return checkedAtLeastOne;
    }
    
    
  </script>
    </head>
    <body>
       <%if !@resname.blank?%>
  <div class="welcome">Welcome <%=@resname%></div>
  
  <div class="welcome">  
 <div class="viewbutton">
                <ul>
                  <li>
                    <%=link_to "Sign Out",authenticates_sign_out_path%></div>
                  </li>
                  </ul>
   </div>
  
  
  <%end%>
  
       <%=yield%>
 
      
     </body>
  </html>
  